@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F2; /* Menggunakan palet paling terang untuk bg */
  color: #0D0D0D; /* Menggunakan palet paling gelap untuk teks dasar */
}

/* Custom scrollbar Monokrom */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9; 
}

::-webkit-scrollbar-thumb {
  background: #736E6E;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #403D3E;
}