@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff; /* Diubah menjadi putih */
  color: #2D3A1F; 
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Sedikit diterangkan agar cocok dengan background putih */
}

::-webkit-scrollbar-thumb {
  background: #576238;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4A532E;
}